# Flask Configuration Template

# Environment variables for Flask application
FLASK_ENV=development
DEBUG=True
SECRET_KEY='your_secret_key'
UPLOAD_FOLDER='uploads'
MAX_CONTENT_LENGTH=16 * 1024 * 1024  # 16 Megabytes

# Database settings
database_url='sqlite:///your_database.db'
